@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
$font_family:'Muli', sans-serif;

$bg_color:#7858C3;
$btn_color:#6d56a3;
$white_bg: #fff;
$error:#7a0909;
$error_bg:#f8d7da;
$error_border:#f5c6cb;
$thumb_bg:#37b2b6;

$error_font:11px;
$icon_size:17px;
$thumb_font:50px;
$map_icon:15px;
$name_size:21px;
$small_font:12px;